parsed_data/adf11/al.bson
parsed_data/adf11/ar.bson
parsed_data/adf11/b.bson
parsed_data/adf11/be.bson
parsed_data/adf11/c.bson
parsed_data/adf11/ca.bson
parsed_data/adf11/cl.bson
parsed_data/adf11/cr.bson
parsed_data/adf11/cu.bson
parsed_data/adf11/d.bson
parsed_data/adf11/f.bson
parsed_data/adf11/fe.bson
parsed_data/adf11/ge.bson
parsed_data/adf11/h.bson
parsed_data/adf11/he.bson
parsed_data/adf11/ic.bson
parsed_data/adf11/kr.bson
parsed_data/adf11/li.bson
parsed_data/adf11/ls.bson
parsed_data/adf11/mg.bson
parsed_data/adf11/mo.bson
parsed_data/adf11/n.bson
parsed_data/adf11/na.bson
parsed_data/adf11/ne.bson
parsed_data/adf11/ni.bson
parsed_data/adf11/o.bson
parsed_data/adf11/s.bson
parsed_data/adf11/si.bson
parsed_data/adf11/t.bson
parsed_data/adf11/w.bson
parsed_data/adf11/xe.bson

/Manifest.toml

# editors
/.vscode/*
.ipynb_checkpoints
.DS_Store
.gitignore
data/adf11/.DS_Store
.DS_Store
.gitignore
data/adf11/.DS_Store
data/.DS_Store
data/adf11/.DS_Store
.DS_Store
