


/Manifest.toml
# editors
/.vscode/*
.ipynb_checkpoints
.DS_Store
data/adf11/.DS_Store
parsed_data/*
.DS_Store
data/.DS_Store
.CondaPkg
.micromamba
.vscode
examples/.jupyter/desktop-settings.json
examples/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
